*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    display:flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(220,255,247);
}
.wrapper{
    width: 100px;
    height:60px;
    background: (220,255,247);
    border-radius: 5px;
    box-shadow:3px 3px 5px rgb(0,0,0,.15),
              -3px -3px 7px rgb(255,255,255);
    display:flex;
    align-items:center;
    justify-content: space-around;
    font-size:25px;
}
.increase,
.decrease{
  cursor:pointer;
  font-weight: bold;

}
.value{
    font-weight:bold;font-size:30px;
}